<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="assets/app.css">
    <!-- endbuild -->
</head>

<body ng-app="angularmaterialtutorialApp" layout="column" ng-controller="UserController as ul" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
    </md-toolbar>
    <!-- Wireframe Container #2 -->
    <div flex layout="row">
        <!-- Wireframe Container #3 -->
        <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="ul.toggleList()">
            <md-list>
                <md-list-item ng-repeat="u in ul.users">
                    <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                        <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                        {{u.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <!-- Wireframe Container #4 -->
        <md-content flex id="content">
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>
            <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)">
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </md-content>
    </div>
    <div class="container">
        <div ng-view=""></div>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/users/Users.js"></script>
    <script src="scripts/users/UserController_4.js"></script>
    <script src="scripts/users/UserService.js"></script>
    <!-- endbuild -->
</body>

</html>
